<html xmlns:th="http://www.thymeleaf.org"
>

<body th:fragment="form_article">
<link rel="stylesheet" th:href="@{/js/bootstrapValidator.min.css}">
<link rel="stylesheet" th:href="@{/js/bootstrap-treeview.min.css}">
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-table/1.15.4/bootstrap-table.min.css">-->
<script th:src="@{/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/js/bootstrapValidator_zh_CN.min.js}"></script>
<script th:src="@{/js/bootstrap-treeview.min.js}"></script>
<script th:src="@{/js/xheditor-1.2.2.min.js}"></script>
<script th:src="@{/js/xheditor_lang/zh-cn.js}"></script>
<!--<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js"></script>-->

<div class="form-group">
    <label class="col-md-2 control-label" for="name">名称</label>
    <div class="col-md-10">
        <input id="name" name="name" class="form-control"
               data-bv-notempty="true"
               data-bv-notempty-message="不能为空"
               placeholder="名称"
               th:value="${article.name}"
               required>
        <span th:if="${#fields.hasErrors('article.name')}" th:errors="${article.name}"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label" for="channelIdSetBtn">选择</label>
    <div class="col-md-10">
        <input id="channelId" type="hidden" name="channelId" th:value="${article.channelId}">
        <input id="channelName" name="channelName" readonly th:value="${article.channel.name}">
        <button id="channelIdSetBtn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#channelModal">文章频道
        </button>
    </div>
</div>

<div class="actions form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10 form-inline">
        <button id="submitBtn" type="submit" class="btn btn-success">提交</button>
        <button id="resetBtn" type="reset" class="btn btn-primary">重置</button>
        <a th:href="@{/admin/art/article}">
            <button type="button" class="btn btn-default">
                <i class="fa fa-arrow-circle-left" aria-hidden="true">&nbsp;返回</i></button>
        </a>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label" for="content">内容</label>
    <div class="col-md-10"> <!--xheditor-->
        <textarea id="content" name="content" class="form-control" rows="24"
                  data-bv-notempty="true"
                  data-bv-notempty-message="不能为空"
                  placeholder="内容编辑"
                  th:utext="${article.content}">
        </textarea>

        <span th:if="${#fields.hasErrors('article.content')}" th:errors="${article.content}"></span>
    </div>
</div>


<input id="id" name="id" type="hidden" th:value="${article.id}">
<!-- 模态框（Modal） -->
<div class="modal fade" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="menuModalLabel">文章频道配置</h4>
            </div>
            <div class="modal-body">
                <div id="treeview"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--<button type="button" class="btn btn-primary">确定</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script th:inline="javascript">
  var root = [[${#servletContext.contextPath}]];
  var editor;

  $(function() {
    $("#artHref").trigger("click");
    // validateFields();
    //树创建
    createTreeView();

    init_xheditor();
  });

  // 创建编辑器。
  function init_xheditor(){
        //初始化xhEditor编辑器插件
		editor = $('#content').xheditor({
			tools : 'full',
            skin : 'default',
            showBlocktag : false,
            internalScript : false,
            internalStyle : false,
            width : 800,
            height : 600,
            fullscreen : false,
            sourceMode : false,
            forcePtag : false,
            html5Upload : false,
            upMultiple: 5,
            upLinkUrl : root+"/admin/art/attachment/upload/", //带链接文字的附件上传的action
            upLinkExt : "zip,rar,txt",//带链接文字的附件的限制格式
            upBtnText : "上传", //图片上传按钮显示
            upImgUrl : root+"/admin/art/attachment/upload", //图片上传的action
            upImgExt : "jpg,jpeg,gif,png",//图片上传的限制格式
			onUpload : insertUpload
		});
  }

  //图片上传回调函数
  function insertUpload(arrMsg) {
	  //xheditor返回的arrMsg是一个Object数组
	  var msg = arrMsg[0];
      //msg = JSON.parse(msg);
	  //(1)其中url插入到编辑器,这样xheditor才能正常显示图片
	  //var url = root + msg.url;
	  var url = root + msg;
	  //editor.appendHTML('<img src="'+url+'"></img>');
	   $("#content").append(url);
		  //以下步骤不是必须的
			//(2)将attachment_id保存到checkbox中，发表文章时根据这些attachment_id去更新图片的post_id
			//var id = msg.id;
			//$("#articleForm").append("<input type='checkbox' name='attachments' checked='checked' onclick='return false;' value='"+id+"''/><br>");

			//(3)图片的名字放到下拉列表,用户从下拉列表 中选择图片做为Post的主题图片
			//var localname = msg.localname;
			//var urlWithoutHttp = url.substring(url.indexOf("/upload")+1);
			//$("#topicImageUrl").append("<option value='"+urlWithoutHttp+"'>" + localname + "</option>");
  }

  //验证表单。
  function validateFields(){
    $('#articleForm').bootstrapValidator({
          live : 'enabled', //enabled代表当表单控件内容发生变化时就触发验证，默认提交时验证，
          // 默认的提示消息
          message: '该值验证不通过',
          // 表单框里右侧的icon
          feedbackIcons: {　　　　　　　　
                valid: 'glyphicon glyphicon-ok',
            　　invalid: 'glyphicon glyphicon-remove',
            　　validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
            name: {
              message: '名称验证失败',
              validators: {
                notEmpty: {
                  message: '名称不能为空'
                },
                stringLength: { //长度限制
                  min: 1,
                  max: 40,
                  message: '名称长度必须在2到18位之间'
                },
                //regexp: { //正则表达式
                //  regexp: /^[a-zA-Z0-9_]+$/,
                //  message: '用户名只能包含大写、小写、数字和下划线'
                //}
              }
            }
          }
        })
  }

  function createTreeView(){
      //var url= '[[@{/admin/sys/permission/tree}]]';   //  + '?channelId='+$("#channelId").val();
      var url= root + '/admin/art/channel/tree?channelId='+$("#channelId").val();
      $.ajax({
        url: url,
        cache: false,
        dataType: 'json',
        success: function (datasource) {
          console.log(datasource);
          $('#treeview').treeview({
            data: datasource,
            showCheckbox:false,
            onNodeSelected: function (event, node) {
                $("#channelId").val(node.id);
                $("#channelName").val(node.name);
                selecedNode = node;
            },
          });
        },
        error: function () {
          alert("异常！");
        }
      })
    }


</script>
</body>