<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/admin/_application_layout">
<title layout:fragment="title">文章管理-编辑</title>

<div layout:fragment="content">
    <div th:include="admin/shared/_header::header"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div th:include="admin/shared/_sidebar::sidebar('文章管理')"></div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <ul class="breadcrumb">
                    <li><a th:href="@{/admin/}">首页</a></li>
                    <li><a th:href="@{/admin/art/article}">文章管理</a></li>
                </ul>
                <div>
                    <h3 class="page-header">文章信息</h3>
                    <!--th:object="${article}" 数据绑定-->
                    <form id="articleForm" class="form-horizontal" th:action="@{'/admin/art/article/edit/'+${article.id}}"

                          accept-charset="UTF-8" method="post" style="max-width: 800px;">
                        <div th:include="admin/art/article/_form::form_article"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</html>