<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/admin/_application_layout">
<title layout:fragment="title">主页</title>

<div layout:fragment="content">
    <div th:include="admin/shared/_header::header"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div th:include="admin/shared/_sidebar::sidebar('系统首页')"></div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div th:include="admin/_index::index"></div>
            </div>
        </div>
    </div>
</div>

</html>