<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body th:fragment="form_channel">
<link rel="stylesheet" th:href="@{/js/bootstrapValidator.min.css}">
<link rel="stylesheet" th:href="@{/js/bootstrap-treeview.min.css}">
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-table/1.15.4/bootstrap-table.min.css">-->
<script th:src="@{/js/bootstrapValidator.min.js}"></script>
<script th:src="@{/js/bootstrapValidator_zh_CN.min.js}"></script>
<script th:src="@{/js/bootstrap-treeview.min.js}"></script>
<!--<link href="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js"></script>-->

<div class="form-group">
    <label class="col-md-2 control-label" for="name">名称</label>
    <div class="col-md-10">
        <input id="name" name="name" class="form-control"
               data-bv-notempty="true"
               data-bv-notempty-message="不能为空"
               placeholder="名称"
               th:value="${channel.name}"
               required>
        <span th:if="${#fields.hasErrors('channel.name')}" th:errors="${channel.name}"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="enName">名称(英文)</label>
    <div class="col-md-10">
        <input id="enName" name="enName" class="form-control"
               data-bv-notempty="true"
               data-bv-notempty-message="不能为空"
               placeholder="名称(英文)"
               th:value="${channel.enName}"
               required>
        <span th:if="${#fields.hasErrors('channel.enName')}" th:errors="${channel.enName}"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="title">标题</label>
    <div class="col-md-10">
        <input id="title" name="title" class="form-control"
               placeholder="标题"
               th:value="${channel.title}"
               required>
        <span th:if="${#fields.hasErrors('channel.title')}" th:errors="${channel.title}"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label" for="url">连接</label>
    <div class="col-md-10">
        <input id="url" name="url" class="form-control"
               placeholder="连接"
               th:value="${channel.url}">
        <span th:if="${#fields.hasErrors('channel.url')}" th:errors="${channel.url}"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label" for="treeview">父亲节点</label>
    <div class="col-md-10">
        <input id="parentId" name="parentId" type="hidden" th:value="${channel.parentId}">
        <div id="treeview"></div>
    </div>
</div>
<input id="id" name="id" type="hidden" th:value="${channel.id}">

<div class="actions form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10 form-inline">
        <button id="submitBtn" type="submit" class="btn btn-success">提交</button>
        <button id="resetBtn" type="reset" class="btn btn-primary">重置</button>
        <a th:href="@{/admin/art/channel}">
            <button type="button" class="btn btn-default">
                <i class="fa fa-arrow-circle-left" aria-hidden="true">&nbsp;返回</i></button>
        </a>
    </div>
</div>

<script th:inline="javascript">
  var root = [[${#servletContext.contextPath}]];

  $(function() {
    validateFields();
    //树创建
    createTreeView();
  });

  //验证表单。
  function validateFields(){
    $('#channelForm').bootstrapValidator({
          live : 'enabled', //enabled代表当表单控件内容发生变化时就触发验证，默认提交时验证，
          // 默认的提示消息
          message: '该值验证不通过',
          // 表单框里右侧的icon
          feedbackIcons: {　　　　　　　　
                valid: 'glyphicon glyphicon-ok',
            　　invalid: 'glyphicon glyphicon-remove',
            　　validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
            name: {
              message: '名称验证失败',
              validators: {
                notEmpty: {
                  message: '名称不能为空'
                },
                stringLength: { //长度限制
                  min: 1,
                  max: 40,
                  message: '名称长度必须在2到18位之间'
                },
                //regexp: { //正则表达式
                //  regexp: /^[a-zA-Z0-9_]+$/,
                //  message: '用户名只能包含大写、小写、数字和下划线'
                //}
              }
            },
            enName: {
              message: '名称验证失败',
              validators: {
                notEmpty: {
                  message: '名称不能为空'
                },
                stringLength: { //长度限制
                  min: 1,
                  max: 40,
                  message: '名称长度必须在2到18位之间'
                }
              }
            },
            mobile: {
               validators: {
                    notEmpty: {
                      message: '电话不能为空'
                    },
                   regexp:{
                        regexp: /^1[3-9][\d]{9}$/,  //正则规则用两个/包裹起来
                        message: '请输入正确的手机号'
                   }
                }
            },
            password:{
                validators: {
                    notEmpty: {
                      message: '密码不能为空'
                    },
                    stringLength: {/*长度提示*/
                       min: 6,
                       max: 30,
                        message: '长度必须在6到30之间'
                    }
                }
            },
            password_confirmation:{
                validators: {
                    notEmpty: {
                      message: '确认密码不能为空'
                    },
                    identical: { //比较是否相同
                        field: 'password',
                        //需要进行比较的input name值
                        message: '两次密码不一致'
                    }
                }
            },
            email: {
              validators: {
                notEmpty: {
                  message: '邮箱地址不能为空'
                },
                emailAddress: {
                  message: '邮箱地址格式有误'
                }
              }
            }
          }
        })
  }

  function createTreeView(){
      //var url= '[[@{/admin/sys/permission/tree}]]';   //  + '?parentId='+$("#parentId").val();
      var url= root + '/admin/art/channel/tree?parentId='+$("#parentId").val();
      $.ajax({
        url: url,
        cache: false,
        dataType: 'json',
        success: function (datasource) {
          console.log(datasource);
          $('#treeview').treeview({
            data: datasource,
            showCheckbox:false,
            onNodeSelected: function (event, node) {
                $("#parentId").val(node.id);
                selecedNode = node;
            },
          });
        },
        error: function () {
          alert("异常！");
        }
      })
    }

</script>
</body>