<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/admin/_application_layout">
<title layout:fragment="title">用户管理</title>

<div layout:fragment="content">
    <div th:include="admin/shared/_header::header"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div th:include="admin/shared/_sidebar::sidebar('用户管理')"></div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <ul class="breadcrumb">
                    <li><a th:href="@{/admin/}">首页</a></li>
                    <li><a th:href="@{/admin/sys/user}">用户管理</a></li>
                </ul>
                <div th:include="admin/sys/user/_users::users"></div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#codesys").trigger("click");
        });


    </script>
</div>


</html>
